body{
    background-image: url("img/balonesa.png");
    background-size: cover;
    font-size: 250%;
    
}
h1{
    background-color: darkorange;
    text-align: center;
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
    text-align: center;
}
nav{
    background-color: rgb(245, 196, 106);
    text-align: center;
}
section{
    text-align: center;
    font-size: 80%;
    color: white;     
}
.back{
    background: rgba(0, 0, 0, 0.5)
}
.mid{
    text-align: center;
}
.mitad{
    position: relative;
    top: auto;
    bottom: auto;
    margin-bottom: 100px;
    padding-bottom: 100px;
    color: tomato;
    border: bisque 1px solid;
    
}
.right{
    float: right;
    text-align: center;
}
img.small:hover{
   background-color: yellow;
}
img.smaller{
    height: 100px;
    margin-right: 260px;
    margin-left: 20px;
}
img.smaller2{
    height: 100px;
    margin-left: 150px;
}
img.smaller3{
    height: 200px;
}
img.small{
    height: 300px;
}
img.med{
    height: 800px;
    float: left;
}
table{
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
    text-align: left;
}
.modal {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
td{
    width: 20%;
}
tr{
    text-align: center;
}
tr.or{
    color: orange;
    font-size: 70%;
}
.red{
      color: red;
}